@model TbSettings
<!-- Page Footer-->
<footer class="section footer-corporate context-dark">
    <div class="footer-corporate-inset">
        <div class="container">
            <div class="row row-40 justify-content-lg-between">
                <div class="col-md-6  ">
                    <div class="oh-desktop">
                        <div class="wow slideInRight" data-wow-delay="0s">
                            <h6 class="text-spacing-100 text-uppercase">Contact us</h6>
                            <ul class="footer-contacts d-inline-block d-sm-block">
                                <li>
                                    <div class="unit">
                                        <div class="unit-left"><span class="icon fa fa-phone"></span></div>
                                        <div class="unit-body"><a class="link-phone" href="tel:#">@Model.Phone</a></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="unit">
                                        <div class="unit-left"><span class="icon fa fa-envelope"></span></div>
                                        <div class="unit-body"><a class="link-aemail" href="mailto:#">@Model.Email</a></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="unit">
                                        <div class="unit-left"><span class="icon fa fa-location-arrow"></span></div>
                                        <div class="unit-body"><a class="link-location" href="#">@Model.Loction</a></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            
                <div class="col-md-6  ">
                    <div class="oh-desktop">
                        <div class="wow slideInLeft" data-wow-delay="0s">
                            <h6 class="text-spacing-100 text-uppercase">Quick links</h6>
                            <ul class="row-6 list-0 list-marked list-marked-md list-marked-secondary list-custom-2">
                                
                                <li><a asp-action="Index" asp-controller="Tours">Our Tours</a></li>
                             
                            </ul>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-corporate-bottom-panel">
        <div class="container">
            <div class="row justfy-content-xl-space-berween row-10 align-items-md-center2">
                <div class="col-sm-6 col-md-4 text-sm-right text-md-center">
                    <div>
                        <ul class="list-inline list-inline-sm footer-social-list-2">
                            <li><a class="icon fa fa-facebook" href="#"></a></li>
                            <li><a class="icon fa fa-twitter" href="#"></a></li>
                            <li><a class="icon fa fa-google-plus" href="#"></a></li>
                            <li><a class="icon fa fa-instagram" href="#"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 order-sm-first">
                    <!-- Rights-->
                    <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>Wonder Tour</span>. All Rights Reserved. Design by <a href="https://www.templatemonster.com">TemplateMonster</a></p>
                </div>
                <div class="col-sm-6 col-md-4 text-md-right">
                    <p class="rights"><a href="#">Privacy Policy</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
   